Homework6/hw6/__pycache__/yahtzee.cpython-35.pyc
Homework6/hw6/__pycache__/multiset.cpython-35.pyc
Homework6/hw6/.idea/workspace.xml
Homework6/hw6/.idea/modules.xml
Homework6/hw6/.idea/misc.xml
Homework6/hw6/.idea/hw6.iml
Homework6/hw6/.idea/dictionaries/shawn.xml
